* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#page-stats {
    position: relative;
    left: calc(50vw - 150px);
}

#img-cont {
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 150px;
}

img {
    width: 350px;
    height: 150px;
}

#explosion-gif {
    position: absolute;
    left: calc(50vw - 165px);
}

#main-btns {
    position: relative;
    left: calc(50vw - 150px);
    width: 300px;
    margin-top: 100px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

#main-btns > button {
    font-size: 1.5rem;
    cursor: pointer;
}

#main-btns > button:hover {
    background-color: orange;
}

.hidden {
    display: none !important;
}

#celebration {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: purple;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 3rem;
    text-align: center;
    overflow: hidden;
}

#celebration img {
    width: 600px;
    height: 300px;
}

#celebration > img:last-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 5;
    flex-flow: 0;
}

#celebration-bomb-1 {
    position: relative;
    left: 350px;
}

#celebration-bomb-2 {
    position: relative;
    left: -350px;
}

#celebration button {
    z-index: 6;
    font-size: 3rem;
    cursor: pointer;
}

#celebration button:hover {
    background-color: orange;
}

#new-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    z-index: -1;
}

.zoomed {
    transform: scale(1.1);
}

@media (max-width: 748px) {
    img {
        width: 80%;
    }

    #main-btns {
        width: 90%
    }
    
    #celebration {
        padding: 0 20px;
        font-size: 1rem;
        width: 100%;
        overflow: hidden;
    }

    #celebration img {
        width: 30%;
    }

    #celebration > div {
        width: 100%;
        justify-content: center;
    }

    #celebration-bomb-1 {
        left: 0;
    }

    #celebration-bomb-2 {
        left: 0;
    }
}
